<th:block xmlns:th="http://www.thymeleaf.org">
    <header class="container">
        <h1>Courses List</h1>
        <ul>
            <li th:if="${course} != null"
                th:each="course: ${courses}">
                <th:block th:text="${course.getName()}"></th:block>
                <th:block th:text="${course.getDescription()}"></th:block>
            </li>
        </ul>
    </header>
    <div class="container text-center">
        <div class="header">
            <h3 id="title">Course Form:</h3>
        </div>
        <div class="form-body">
            <form action="/courses/add" method="POST">
                <label for="course"> Course </label>
                <input type="text" name="name" id="course" size="15"
                       th:value="(${course} != null ? ${course.getName()} : '')"/> <br> <br>
                <label for="description"> Description </label>
                <input type="text" name="description" id="description"
                       th:value="(${course} != null ? ${course.getDescription()} : '')"/> <br> <br>

                <label>Teacher:</label>
                <select name="id">
                    <option>Teachers</option>
                    <option th:if="${course} != null"
                            th:selected="${course.getTeacher() != null && course.getTeacher().getId() == t.getId()}"
                            th:each="t : ${teachers}"
                            th:value="${t.getId()}"
                            th:text="${t.getName()}">
                    </option>
                    <option th:if="${course} == null"
                            th:each="t : ${teachers}"
                            th:value="${t.getId()}"
                            th:text="${t.getName()}">
                    </option>
                </select><br><br>
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                <a type="button" class="btn btn-sm btn-primary" href="/courses">Back</a>
            </form>
        </div>
    </div>
</th:block>