<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container text-center">
        <div id="title">
            <h1>Create New Student</h1>
        </div>
        <form th:action="@{createStudent}" th:method="POST">
            <label for="username">Username: <input type="text" name="username" id="username"></label><br>
            <label for="password">Password: <input type="password" name="password" id="password"></label><br>
            <label for="name">Name: <input type="text" name="name" id="name"></label><br>
            <label for="surname">Surname: <input type="text" name="surname" id="surname"></label><br>
            <br>
            <input type="submit" name="btn" class="btn btn-sm btn-outline-dark">
        </form>
    </div>
</th:block>