<head>
    <style type="text/css">

        li {
            list-style-type: none;
        }

        .btn-s {
            display: flex;
        }
    </style>
</head>
<header class="container" style="display: -webkit-box">
    <h1>Courses List</h1>
    <ul>
        <li th:each="course: ${courses}">
            <th:block th:text="${course.name}"></th:block>
            <th:block th:text="${course.description}"></th:block>
            <div class="btn-s">
                <form th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}" th:method="DELETE">
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i>
                    </button>
                </form>
                <a th:href="@{'/courses/edit-form/{id}'(id=${course.getCourseId()})}"
                   class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
            </div>
        </li>
    </ul>
    <aside class="text-right">
        <div class="container">
            <div class="add-course"><br>
                <a class="btn btn-sm btn-dark" href="/courses/add-form">Add course</a>
            </div>
            <br>
            <form method="GET" action="/courses/sort-courses">
                <input type="submit" value="Sort Courses" class="btn btn-sm btn-outline-secondary">
            </form>
        </div>
    </aside>
</header>
<hr>
<main class="container">
    <h2>Choose course:</h2>
    <form th:action="@{/addStudent}" th:method="POST">
        <ul>
            <li th:each="c: ${courses}">
                <input th:id="${c.courseId}" type="radio" name="courseId" th:value="${c.courseId}">
                <label th:for="courseId" th:text="${c.name}"></label>
                <th:block th:text="${c.description}"></th:block>
            </li>
        </ul>
        <br/>
        <input type="submit" name="submit" class="btn btn-block btn-success">
    </form>
</main>
<hr>
