<th:block xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <header>
        <h3>Students in Course </h3>
    </header>
    <section>
        <div class="container">
            <div class="header-title">
                <b>
                    <th:block th:text="${course.get().name}"></th:block>
                    <th:block th:text="${course.get().description}"></th:block>
                </b>
            </div>
        </div>
        <ul>
            <li style="list-style-type: none" th:each="grade : ${grades}"
                th:text="${grade.student.name + ' ' +
                 grade.student.surname + ' (' +grade.student.username+')' + ' - ' +
                 grade.grade + ' - ' + #temporals.format(grade.timestamp, 'dd-MM-yyyy HH:mm:ss')}">
            </li>
        </ul>
        <a class="btn btn-block btn-dark" href="/courses">Back</a>
    </section>
</div>
</th:block>